<div class="landing-wpr">
    <div class="container">
        <div class="row vertical-align " >
            <div class="col-md-4" title="click to upload file">
                <a href="" ng-click="open()">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                </a>
                <h4>upload document</h4>
            </div>
            <div class="col-md-4" title="import content from url">
                <i class="glyphicon glyphicon-link"></i>
                <h4>import from link </h4>
            </div>
            <div class="col-md-4" title="Write or paste text">
                <a href="/#!/home/">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <h4>type something </h4>
            </div>
        </div>
    </div>


</div>

